<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright © 2019 RapidDive Tech. All rights reserved.
 * @author    Rapiddive Tech <rapiddive1@gmail.com>
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--    <preference for="Magento\Catalog\Model\View\Asset\Image"-->
<!--                type="Rapiddive\FixImage\Catalog\Model\View\Asset\Image" />-->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="fixImageProduct" xsi:type="object">Rapidive\FixImage\Console\Command\FixImageProduct</item>
            </argument>
        </arguments>
    </type>
</config>